* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background-color: #f2e8dc;
  color: #302e2c;
}

h1,
h2 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: #c2bab0;
  display: flex;
  justify-content: center;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.header-container {
  width: 800px;
  position: absolute;
  top: 10%;
}

.logo-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img-container img {
  max-width: 400px;
}

nav {
  width: 400px;
  margin: 10% auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-links li {
  position: relative;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-flex-links a {
  color: #181716;
  line-height: 40px;
}


/* Style 3: Just animate the :after element's width from 0 to 100% */

.nav-links li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.nav-links li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #181716;
}


.headline-text {
  text-align: center;
}

.headline-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}



footer {
  font-size: 10px;
  height: 22px;
  background-color: #181716;
  color: #c2bab0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/***** Media Query for mobile devices *****/

/* /////////// small phones: from 0 to 480px ////////// */
@media only screen and (max-width: 480px) {
}

/* ////////// small phones to small tablets: from 481px to 767px ////////// */
@media only screen and (max-width: 767px) {


/* //////////  small tablet to big tablet: from 768px (ipad) to 1023px ///////// */
@media only screen and (max-width: 1023px) {
}

/* ////////// Big tablet to 1200px (width smaller than the 1140px row) ///////// */
@media only screen and (min-width: 1200px) {
}
