* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background-color: #f2e8dc;
  color: #302e2c;
}

h1,
h2 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

header {
  /* width: 100vw;
  height: 100vh; */
  background-color: #c2bab0;
  display: flex;
  justify-content: center;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 800px;
  /* margin: 0 auto; */
}

.logo-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img-container img {
  max-width: 400px;
  padding:80px
}


}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.nav-flex-links a {
  padding: 7px;
  width: 100px;
  margin: 0 10px;
  color: #181716;
  line-height: 40px;
  font-size: 16px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

footer {
  font-size: 12px;
  height: 30px;
  background-color: #181716;
  color: #c2bab0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** Media Query for mobile devices *****/

/* /////////// small phones: from 0 to 480px ////////// */
@media only screen and (max-width: 480px) {
}

/* ////////// small phones to small tablets: from 481px to 767px ////////// */
@media only screen and (max-width: 767px) {
  .nav-flex-container {
    flex-direction: column;
    text-align: center;
  }
  .nav-flex-links ul,
  li {
    line-height: 30px;
    margin: 0;
  }
}

/* //////////  small tablet to big tablet: from 768px (ipad) to 1023px ///////// */
@media only screen and (max-width: 1023px) {
}

/* ////////// Big tablet to 1200px (width smaller than the 1140px row) ///////// */
@media only screen and (min-width: 1200px) {
}
