* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background-color: #f2e8dc;
  color: #302e2c;
}

h1,
h2 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: #c2bab0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.nav-flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   * flex-flow: row wrap; 
   */

  /* Then we define how is distributed the remaining space */
  justify-content: center;
  align-items: center;
}

.nav-flex-links a {
  padding: 5px;
  width: 100px;
  margin: 0 10px;
  color: #181716;
  line-height: 125px;
  font-size: 16px;
  text-align: center;
}

.headline h1 {
  font-size: 40px;
}

/***** Media Query for mobile devices *****/

/* /////////// small phones: from 0 to 480px ////////// */
@media only screen and (max-width: 480px) {
}

/* ////////// small phones to small tablets: from 481px to 767px ////////// */
@media only screen and (max-width: 767px) {
  .nav-flex-container {
    flex-direction: column;
    text-align: center;
  }
  .nav-flex-links {
    margin: 10px 0;
  }
}

/* //////////  small tablet to big tablet: from 768px (ipad) to 1023px ///////// */
@media only screen and (max-width: 1023px) {
}

/* ////////// Big tablet to 1200px (width smaller than the 1140px row) ///////// */
@media only screen and (min-width: 1200px) {
}
