h1,
h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

p,
nav {
  font-family: "Gentium Book Plus", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
