* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background-color: #f2e8dc;
}

h1,
h2 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.headline h1 {
  font-size: 40px;
}
